{% extends 'base.html' %}
{% load static %}

{% block title %}
    Courses - CS50Flix
{% endblock %}

{% block content %}
    <div class="py-10">
        <h1>Home Courses</h1>
        {% for course in object_list %}
            <hr>
            <a href="{% url 'course:detailscourse' course.pk %}">
                <p>{{ course.title }}</p>
            </a>
            <p>{{ course.description }}</p>
            <img src="{{ course.thumb.url }}">
        {% endfor %}
    </div>

    <div class="py-10">
        <h2>New:</h2>
        {{ recent_courses }}
    </div>


    <div class="py-10">
        <h2>Popular:</h2>
        {{ popular_courses }}
    </div>
{% endblock %}
