{% extends 'base.html' %}
{% load static %}

{% block title %}
    Courses - CS50Flix
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}

{% block content %}

    <main class='bg-primary_black min-h-screen w-full'>
        <section class="h-screen relative bg-no-repeat pb-8 pl-6 flex items-end bg-cover" style="background-image: url('{{ featured_course.thumb.url }}');">
            <div>
                <h2 class="text-6xl font-semibold text-white my-4">
                    {{ featured_course.title }}
                </h2>
                <p class=" w-11/12 md:w-5/12 font-medium text-white my-4">
                    {{ featured_course.description|slice:":100" }}...
                </p>
                <div class="flex my-4">
                    {% if featured_course %}
                    <a href="{% url 'course:detailscourse' featured_course.pk %}">
                        <button class="flex items-center bg-white py-2 px-5 rounded-md" style='color:black;'>
                            <ion-icon name="play" class="text-2xl"></ion-icon>
                            <span class="ml-3 font-medium " >
                                Play
                            </span>
                        </button>
                    </a>
                    {% endif %}
                </div>
            </div>
        </section>

        <section class='bg-primary_black flex justify-center py-10'>
            <div class="p-8 w-10/12 relative" >
                <h2 class="text-gray-200 text-2xl font-medium">
                    New:
                </h2>
                <div class="wrapper">
                  <section id="new1" class="flex flex-nowrap items-center justify-center space-x-8">
                    <a href="#new2" class="arrow__btn text-6xl page">‹</a>

                    {% for course in recent_courses %}
                        {% if forloop.counter < 4 %}
                            <div class="item h-64 w-1/4 m-4">
                                <a href="{% url 'course:detailscourse' course.pk %}">
                                    <img src="{{ course.thumb.url }}" class="rounded-md w-full h-full object-cover">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                        <a href="#new2" class="arrow__btn text-6xl">›</a>
                  </section>

                  {% if recent_courses|length > 3 %}
                      <section id="new2" class="flex flex-nowrap items-center justify-center">
                        <a href="#new1" class="arrow__btn text-6xl">‹</a>

                            {% for course in recent_courses %}
                                {% if forloop.counter > 3 %}
                                    <div class="item h-64 w-1/4 m-4">
                                        <a href="{% url 'course:detailscourse' course.pk %}">
                                            <img src="{{ course.thumb.url }}" class="rounded-md w-full h-full object-cover">
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        <a href="#new1" class="arrow__btn text-6xl">›</a>
                      </section>
                    {% endif %}
                </div>

            </div>
        </section>

        <section class='bg-primary_black flex justify-center py-10'>
            <div class="p-8 w-10/12 relative" >
                <h2 class="text-gray-200 text-2xl font-medium">
                    Popular:
                </h2>
                <div class="wrapper">
                  <section id="popular1" class="flex flex-nowrap items-center justify-center space-x-8">
                    <a href="#popular2" class="arrow__btn text-6xl page">‹</a>

                    {% for course in popular_courses %}
                        {% if forloop.counter < 4 %}
                            <div class="item h-64 w-1/4 m-4">
                                <a href="{% url 'course:detailscourse' course.pk %}">
                                    <img src="{{ course.thumb.url }}" class="rounded-md w-full h-full object-cover">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                        <a href="#popular2" class="arrow__btn text-6xl">›</a>
                  </section>

                  {% if popular_courses|length > 3 %}
                      <section id="popular2" class="flex flex-nowrap items-center justify-center">
                        <a href="#popular1" class="arrow__btn text-6xl">‹</a>

                            {% for course in popular_courses %}
                                {% if forloop.counter > 3 %}
                                    <div class="item h-64 w-1/4 m-4">
                                        <a href="{% url 'course:detailscourse' course.pk %}">
                                            <img src="{{ course.thumb.url }}" class="rounded-md w-full h-full object-cover">
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        <a href="#popular1" class="arrow__btn text-6xl">›</a>
                      </section>
                    {% endif %}
                </div>

            </div>
        </section>

        {% if request.user.viewed_courses.all %}
        <section class='bg-primary_black flex justify-center py-10'>
            <div class="p-8 w-10/12 relative" >
                <h2 class="text-gray-200 text-2xl font-medium">
                    Keep watching:
                </h2>
                <div class="wrapper">
                  <section id="viewed1" class="flex flex-nowrap items-center justify-center space-x-8">
                    <a href="#viewed2" class="arrow__btn text-6xl page">‹</a>

                    {% for course in  request.user.viewed_courses.all %}
                        {% if forloop.counter < 4 %}
                            <div class="item h-64 w-1/4 m-4">
                                <a href="{% url 'course:detailscourse' course.pk %}">
                                    <img src="{{ course.thumb.url }}" class="rounded-md w-full h-full object-cover">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                        <a href="#viewed2" class="arrow__btn text-6xl">›</a>
                  </section>

                  {% if request.user.viewed_courses.all|length > 3 %}
                      <section id="viewed2" class="flex flex-nowrap items-center justify-center">
                        <a href="#viewed1" class="arrow__btn text-6xl">‹</a>

                            {% for course in request.user.viewed_courses.all %}
                                {% if forloop.counter > 3 %}
                                    <div class="item h-64 w-1/4 m-4">
                                        <a href="{% url 'course:detailscourse' course.pk %}">
                                            <img src="{{ course.thumb.url }}" class="rounded-md w-full h-full object-cover">
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        <a href="#viewed1" class="arrow__btn text-6xl">›</a>
                      </section>
                    {% endif %}
                </div>

            </div>
        </section>
        {% endif %}

    </main>

{% endblock %}
