{% load static %}

<nav class="w-full flex justify-between items-center py-3 px-4 fixed z-50">
    <div class="w6/12">
        <a href="/">
            <img class="w5/12" src="{% static 'images/cs50flix.png' %}" width="200">
        </a>
    </div>

    <div class="w6/12 flex flex-nowrap justify-end">
        <div class="mr-2">
            <form method="get" action="{% url 'course:searchcourse' %}">
                <input type="text" class="py-1 px-2 rounded-md text-black" name="query" value="{{ request.GET.query }}" placeholder="Search...">
                <input type="submit" value="">
            </form>
        </div>

        <div class="mr-2">
            <a href="#">
                <button class="bg-red-600 text-white py-1 px-3 rounded-md">
                    Log In
                </button>
            </a>
        </div>

        <div class="mr-2">
            <a href="#">
                <button class="bg-red-600 text-white py-1 px-3 rounded-md">
                    Log Out
                </button>
            </a>
        </div>
    </div>
</nav>
